{% extends "template.html.twig" %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-house-laptop"></i>
	{{appTitreRubrique}}
{% endblock %}

{% block appCorps %}
	{{ form_start(form) }}
		<div class="row">
			<div class="col-sm">{{ form_row(form.nom) }}</div>
			<div class="col-sm">{{ form_row(form.adresse) }}</div>
		</div>
		<div class="row sm-1">
			<div class="col-sm">{{ form_row(form.telephone) }}</div>
			<div class="col-sm">{{ form_row(form.rccm) }}</div>
		</div>
		<div class="row">
			<div class="col-sm">{{ form_row(form.idnat) }}</div>
			<div class="col-sm">{{ form_row(form.numimpot) }}</div>
		</div>
	{{ form_rest(form) }}
{% endblock %}
