{% extends "template.menu.user.html.twig" %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-shield-halved"></i>
	{{appTitreRubrique}}
	<div>
		<a href="{{ path('assureur.edit') }}" type="button" class="btn btn-success">
			<i class="fa-solid fa-circle-plus"></i>
			Nouveau
		</a>
	</div>
{% endblock %}

{% block appCorps %}
	<div class="navigation">
		{{ knp_pagination_render(assureurs) }}
	</div>
	<div class="row">
		{% for assureur in assureurs %}
			<div class="card m-2 p-0" style="width: 18rem;">
				<h5 class="card-header">
					<i class="fa-solid fa-shield-halved"></i>
					{{assureur.nom}}
				</h5>
				<div class="card-body">
					<div class="card-subtitle mb-2 text-muted">
						<i class="fa-solid fa-phone"></i>
						{{assureur.telephone}}
					</div>
					<div class="card-subtitle mb-2 text-muted">
						<i class="fa-solid fa-envelope-open-text"></i>
						{{assureur.email}}
					</div>
					<p class="card-text">{{assureur.adresse}}</p>
					<a class="btn btn-light btn-sm card-link" href="{{ path('assureur.details', {id:assureur.id}) }}">
						<i class="fa-solid fa-circle-info"></i>
						Voir les détails
					</a>
					<span class="dropdown show">
						<a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa-solid fa-screwdriver-wrench"></i>
							Actions
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="{{ path('assureur.edit', {id:assureur.id}) }}">
								<i class="fa-solid fa-pen-to-square"></i>
								Modifier
							</a>
							<a class="dropdown-item text-danger" href="{{ path('assureur.delete', {id:assureur.id}) }}">
								<i class="fa-solid fa-trash-can"></i>
								Supprimer
							</a>
						</div>
					</span>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
