<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Broker | Dashboard test</title>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{{ asset('node_modules/adminlte/plugins/fontawesome-free/css/all.min.css')}}">
  <link rel="stylesheet" href="{{ asset('node_modules/adminlte/dist/css/adminlte.min.css')}}">
  
</head>
<body>
<div class="container">
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <!--Commissions par mois -->
        <div class="row">
          <div class="col-12">
            <!-- Primes par mois -->
            <div class="card card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                <i class="far fa-chart-bar"></i>                
                Primes par mois</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="primes_mois" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 476px;" width="952" height="500" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!--Commissions par mois -->
        <div class="row">
          <div class="col-12">
            <!-- Commission de courtage par mois -->
            <div class="card card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                <i class="far fa-chart-bar"></i>                
                Commissions de courtage par mois</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="commission_nette_mois" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 476px;" width="952" height="500" class="chartjs-render-monitor"></canvas>
                  <div class="commissions_impayees_mois" data-donnees = "{{data_com_impayees_mois|serialize(format = 'json')}}"></div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <!-- Commissions impayées par assureur -->
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Primes / assureur
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="primes_assureur" style="height: 300px;"></div>
				        <div class="primes_assureur" data-donnees = "{{data_primes|serialize(format = 'json')}}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-md-4">
            <!-- Commissions impayées par assureur -->
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Com. nettes / assureur
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="commissions_nettes_assureur" style="height: 300px;"></div>
				        <div class="commissions_nettes_assureur" data-donnees = "{{data_com_nettes|serialize(format = 'json')}}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-md-4">
            <!-- Commissions impayées par assureur -->
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Com. impayées / assureur
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="commissions_impayees_assureur" style="height: 300px;"></div>
				        <div class="commissions_impayees_assureur" data-donnees = "{{data_com_impayees|serialize(format = 'json')}}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('node_modules/adminlte/plugins/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/chart.js/Chart.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/dist/js/adminlte.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/flot/jquery.flot.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/flot/plugins/jquery.flot.resize.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/flot/plugins/jquery.flot.pie.js')}}"></script>

<!-- Page specific script -->
<script>



  $(function () {
    /* ChartJS
      * -------
      * Here we will create a few charts using ChartJS
      */


      //--------------
      //- PRIMES PAR MOIS -
      //--------------

      var dataPrimes = {
        labels  : ['Janv', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'],
        datasets: [
          {
            label               : 'Primes nette',
            backgroundColor     : 'gray',
            borderColor         : 'gray',
            pointRadius          : false,
            pointColor          : 'gray',
            pointStrokeColor    : 'gray',
            pointHighlightFill  : 'gray',
            pointHighlightStroke: 'gray',
            data                : [15000, 2000, 25000, 35000, 65000, 75000, 10000, 15500, 64000, 6550, 12000, 25000]
          },
          {
            label               : 'Primes TTC',
            backgroundColor     : 'black',
            borderColor         : 'black',
            pointRadius         : false,
            pointColor          : 'orange',
            pointStrokeColor    : 'orange',
            pointHighlightFill  : 'orange',
            pointHighlightStroke: 'orange',
            data                : [1500, 1500, 24500, 30000, 60000, 73500, 9500, 10000, 35000, 6550, 11500, 23000]
          },
        ]
      }
      
      //-------------
      //- PRIMES / MOIS -
      //-------------
      var primesMoisCanvas = $('#primes_mois').get(0).getContext('2d');
      var primesMoisData = $.extend(true, {}, dataPrimes);
      var temp0 = dataPrimes.datasets[0];
      var temp1 = dataPrimes.datasets[1];
      primesMoisData.datasets[0] = temp1;
      primesMoisData.datasets[1] = temp0;

      var primesMoisOptions = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      };


      //On dessine l'histogramme en batons
      new Chart(primesMoisCanvas, {
        type: 'bar',
        data: primesMoisData,
        options: primesMoisOptions
      })




      //--------------
      //- COMMISSION PAR MOIS -
      //--------------

      var dataCommissions = {
        labels  : ['Janv', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'],
        datasets: [
          {
            label               : 'Commissions encaissées',
            backgroundColor     : 'gray',
            borderColor         : 'gray',
            pointRadius          : false,
            pointColor          : 'gray',
            pointStrokeColor    : 'gray',
            pointHighlightFill  : 'gray',
            pointHighlightStroke: 'gray',
            data                : [15000, 2000, 25000, 35000, 65000, 75000, 10000, 15500, 64000, 6550, 12000, 25000]
          },
          {
            label               : 'Commissions nettes',
            backgroundColor     : 'orange',
            borderColor         : 'orange',
            pointRadius         : false,
            pointColor          : 'orange',
            pointStrokeColor    : 'orange',
            pointHighlightFill  : 'orange',
            pointHighlightStroke: 'orange',
            data                : [1500, 1500, 24500, 30000, 60000, 73500, 9500, 10000, 35000, 6550, 11500, 23000]
          },
          {
            label               : 'Commissions impayées',
            backgroundColor     : 'red',
            borderColor         : 'red',
            pointRadius         : false,
            pointColor          : 'red',
            pointStrokeColor    : 'red',
            pointHighlightFill  : 'red',
            pointHighlightStroke: 'red',
            data                : JSON.parse(document.querySelector('.commissions_impayees_mois').dataset.donnees) //[13500, 500, 500, 5000, 5000, 1500, 500, 5500, 29000, 0, 500, 2000]
          },
        ]
      }
      
            
      //-------------
      //- BAR CHART -
      //-------------
      var commissionsMoisCanvas = $('#commission_nette_mois').get(0).getContext('2d');
      var commissionsMoisData = $.extend(true, {}, dataCommissions);
      var temp0 = dataCommissions.datasets[0];
      var temp1 = dataCommissions.datasets[1];
      commissionsMoisData.datasets[0] = temp1;
      commissionsMoisData.datasets[1] = temp0;

      var barChartOptions = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      };

      //On dessine l'histogramme en batons
      new Chart(commissionsMoisCanvas, {
        type: 'bar',
        data: commissionsMoisData,
        options: barChartOptions
      })

      




 /*
      * COMMISSIONS NETTES PAR ASSUREUR
      * -----------
      */

    var data_primes_assureur = JSON.parse(document.querySelector('.primes_assureur').dataset.donnees);
      $.plot('#primes_assureur', data_primes_assureur, {
        series: {
          pie: {
            show       : true,
            radius     : 1,
            innerRadius: 0.3, //Boule blanche au centre du diagramme
            label      : {
              show     : true,
              radius   : 2 / 3,
              formatter: labelFormatter,
              threshold: 0.01
            }
          }
        },
        legend: {
          show: false
        }
      })

      /*
      * COMMISSIONS NETTES PAR ASSUREUR
      * -----------
      */

    var data_commissions_nettes_assureur = JSON.parse(document.querySelector('.commissions_nettes_assureur').dataset.donnees);
      $.plot('#commissions_nettes_assureur', data_commissions_nettes_assureur, {
        series: {
          pie: {
            show       : true,
            radius     : 1,
            innerRadius: 0.3, //Boule blanche au centre du diagramme
            label      : {
              show     : true,
              radius   : 2 / 3,
              formatter: labelFormatter,
              threshold: 0.01
            }
          }
        },
        legend: {
          show: false
        }
      })

      /*
      * COMMISSIONS IMPAYEES PAR ASSUREUR
      * -----------
      */

    var data_commissions_impayees_assureur = JSON.parse(document.querySelector('.commissions_impayees_assureur').dataset.donnees);
      $.plot('#commissions_impayees_assureur', data_commissions_impayees_assureur, {
        series: {
          pie: {
            show       : true,
            radius     : 1,
            innerRadius: 0.3, //Boule blanche au centre du diagramme
            label      : {
              show     : true,
              radius   : 2 / 3,
              formatter: labelFormatter,
              threshold: 0.01
            }
          }
        },
        legend: {
          show: false
        }
      })
      

    })
    /*
    * Custom Label formatter
    * ----------------------
    */
    function labelFormatter(label, series) {
      return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
        + label
        + '<br>(' + Math.round(series.percent) + '%)</div>'
    }





</script>
</body>
</html>
