{% extends "template.menu.user.html.twig" %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-umbrella"></i>
	{{appTitreRubrique}}
{% endblock %}

{% block appCorps %}
	{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}

	<div class="container">
		<div class="card mt-5">
			<h5 class="card-header">Information générale</h5>
			<div class="card-body">
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.produit) }}</div>
					</div>
				</p>
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.reference) }}</div>
						<div class="col-sm">{{ form_row(form.client) }}</div>
						<div class="col-sm">{{ form_row(form.partenaire) }}</div>
						<div class="col-sm">{{ form_row(form.monnaie) }}</div>
					</div>
				</p>
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.idavenant) }}</div>
						<div class="col-sm">{{ form_row(form.typeavenant) }}</div>
						<div class="col-sm">{{ form_row(form.assureurs) }}</div>
						<div class="col-sm">{{ form_row(form.reassureurs) }}</div>
					</div>
				</p>
			</div>
			<h5 class="card-header">Dates</h5>
			<div class="card-body">
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.dateoperation) }}</div>
						<div class="col-sm">{{ form_row(form.dateemission) }}</div>
						<div class="col-sm">{{ form_row(form.dateeffet) }}</div>
						<div class="col-sm">{{ form_row(form.dateexpiration) }}</div>
					</div>
				</p>
			</div>
			<h5 class="card-header">Facturation</h5>
			<div class="card-body">
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.capital) }}</div>
						<div class="col-sm">{{ form_row(form.primenette) }}</div>
						<div class="col-sm">{{ form_row(form.fronting) }}</div>
						<div class="col-sm">{{ form_row(form.arca) }}</div>
					</div>
				</p>
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.tva) }}</div>
						<div class="col-sm">{{ form_row(form.fraisadmin) }}</div>
						<div class="col-sm">{{ form_row(form.primetotale) }}</div>
						<div class="col-sm">{{ form_row(form.discount) }}</div>
					</div>
				</p>
			</div>
			<h5 class="card-header">Revenu du courtier</h5>
			<div class="card-body">
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.ricom) }}</div>
						<div class="col-sm">{{ form_row(form.localcom) }}</div>
						<div class="col-sm">{{ form_row(form.frontingcom) }}</div>
						<div class="col-sm">{{ form_row(form.commissionpartageable) }}</div>
					</div>
				</p>
			</div>
			<h5 class="card-header">Autres</h5>
			<div class="card-body">
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.modepaiement) }}</div>
						<div class="col-sm">{{ form_row(form.entreprise) }}</div>
						<div class="col-sm">{{ form_row(form.remarques) }}</div>
					</div>
				</p>
				<p class="card-text">
					{{ form_rest(form) }}
				</p>
			</div>
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {
$('.select2').select2();
});
	</script>
{% endblock %}
