{% extends "template.menu.user.html.twig" %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-hands-holding-child"></i>
	{{appTitreRubrique}}
{% endblock %}

{% block appCorps %}
	{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
	<div class="container">
		<div class="card mt-5">
			<h5 class="card-header">Information générale</h5>
			<div class="card-body">
				<p class="card-text">
					<div class="row">
						<div class="col-sm">{{ form_row(form.nom) }}</div>
						<div class="col-sm">{{ form_row(form.description) }}</div>
						<div class="col-sm">{{ form_row(form.categorie) }}</div>
						<div class="col-sm">{{ form_row(form.tauxarca) }}</div>
					</div>
					<div class="row">
						<div class="col-sm">{{ form_row(form.isobligatoire) }}</div>
						<div class="col-sm">{{ form_row(form.isabonnement) }}</div>
						<div class="col-sm">{{ form_row(form.entreprise) }}</div>
						<div class="col-sm"></div>
					</div>
				</p>
				<p class="card-text">
					{{ form_rest(form) }}
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {
$('.select2').select2();
});
	</script>
{% endblock %}
